In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics

In [20]:
#Implementing the same on clustring dataset
df = pd.read_csv("clustering.csv")

In [21]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y

In [22]:
df = df.drop(columns = ["Loan_ID"])
df = df.dropna()

In [26]:
df.dtypes

Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [9]:
df.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [29]:
categorical_data = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status']
labelencoder = LabelEncoder()

for i in categorical_data:
    df[i] = labelencoder.fit_transform(df[i])

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
1,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
2,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
3,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
4,1,1,0,1,0,2333,1516.0,95.0,360.0,1.0,2,1
5,1,1,2,0,0,3200,700.0,70.0,360.0,1.0,2,1
7,1,0,0,0,0,1853,2840.0,114.0,360.0,1.0,0,0
8,1,1,2,0,0,1299,1086.0,17.0,120.0,1.0,2,1
9,1,0,0,0,0,4950,0.0,125.0,360.0,1.0,2,1
11,0,0,0,0,0,3510,0.0,76.0,360.0,0.0,2,0
12,1,1,0,1,0,4887,0.0,133.0,360.0,1.0,0,0
14,1,1,0,1,0,7660,0.0,104.0,360.0,0.0,2,0
15,1,1,0,1,0,2600,1911.0,116.0,360.0,0.0,1,0
17,1,1,0,0,0,2799,2253.0,122.0,360.0,1.0,1,1
18,1,1,2,1,0,4226,1040.0,110.0,360.0,1.0,2,1
19,1,0,0,1,0,1442,0.0,35.0,360.0,1.0,2,0
21,1,0,0,0,0,3167,0.0,74.0,360.0,1.0,2,0
22,1,0,1,0,1,4692,0.0,106.0,360.0,1.0,0,0
23,1,1,0,0,0,3500,1667.0,114.0,360.0,1.0,1,1
25,0,1,0,0,0,3667,1459.0,144.0,360.0,1.0,1,1
26,1,0,0,1,0,3748,1668.0,110.0,360.0,1.0,1,1
27,1,0,0,0,0,3600,0.0,80.0,360.0,1.0,2,0
28,1,0,0,0,0,1800,1213.0,47.0,360.0,1.0,2,1
30,1,1,0,0,0,3941,2336.0,134.0,360.0,1.0,1,1
33,1,1,1,0,0,5649,0.0,44.0,360.0,1.0,2,1
34,1,1,0,0,0,5821,0.0,144.0,360.0,1.0,2,1
35,0,1,0,0,0,2645,3440.0,120.0,360.0,0.0,2,0
36,0,0,0,0,0,4000,2275.0,144.0,360.0,1.0,1,1
37,0,1,0,1,0,1928,1644.0,100.0,360.0,1.0,1,1
38,0,0,0,0,0,3086,0.0,120.0,360.0,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
345,1,0,0,1,0,3358,0.0,80.0,36.0,1.0,1,0
346,1,0,0,0,0,2526,1783.0,145.0,360.0,1.0,0,1
347,0,0,0,0,0,5000,0.0,103.0,360.0,0.0,1,0
348,1,1,0,0,0,2785,2016.0,110.0,360.0,1.0,0,1
349,1,1,0,0,0,3593,4266.0,132.0,180.0,0.0,0,0
350,1,1,1,0,0,5468,1032.0,26.0,360.0,1.0,1,1
352,1,1,2,1,0,3675,242.0,108.0,360.0,1.0,1,1
353,1,0,0,1,1,5800,0.0,132.0,360.0,1.0,1,1
355,1,0,0,0,0,3333,0.0,70.0,360.0,1.0,2,1
356,1,1,3,0,0,3400,2500.0,123.0,360.0,0.0,0,0
357,0,0,0,0,0,2378,0.0,9.0,360.0,1.0,2,0
358,1,1,0,0,0,3166,2064.0,104.0,360.0,0.0,2,0
359,1,1,3,0,0,6406,0.0,150.0,360.0,1.0,1,0
360,1,1,2,0,0,3159,461.0,108.0,84.0,1.0,2,1
362,1,0,0,0,0,3229,2739.0,110.0,360.0,1.0,2,1
363,1,1,1,0,0,1782,2232.0,107.0,360.0,1.0,0,1
364,1,0,0,0,0,1836,33837.0,90.0,360.0,1.0,2,0
365,0,1,0,0,0,3166,0.0,36.0,360.0,1.0,1,1
367,1,1,1,0,0,2787,1917.0,146.0,360.0,0.0,0,0
368,1,1,0,0,0,2297,1522.0,104.0,360.0,1.0,2,1
369,0,0,0,1,0,2165,0.0,70.0,360.0,1.0,1,1
371,1,1,2,0,1,2726,0.0,106.0,360.0,0.0,1,0
372,1,1,0,0,0,3000,3416.0,56.0,180.0,1.0,1,1
373,1,1,0,0,0,3859,3300.0,142.0,180.0,1.0,0,1
374,1,0,0,1,0,3833,0.0,110.0,360.0,1.0,0,1
376,1,1,3,0,0,5703,0.0,128.0,360.0,1.0,2,1
377,1,1,0,0,0,3232,1950.0,108.0,360.0,1.0,0,1
378,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0,1
379,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
380,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [39]:
x = df[['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']]
y = df["Loan_Status"]

In [40]:
x_train , x_test , y_train , y_test = train_test_split(x, y , test_size =0.25 )

In [41]:
dtc = DecisionTreeClassifier()
dtc.fit(x_train , y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [42]:
y_pred = dtc.predict(x_test)

In [43]:
accuracyScore = metrics.accuracy_score(y_test,y_pred)

In [44]:
print( "Accuracy Score for the Decision Tree : {0} ".format(accuracyScore) )

Accuracy Score for the Decision Tree : 0.7402597402597403

In [52]:
#Visualising the Decision Tree
from sklearn import tree
tree.plot_tree(dtc);

AttributeError: module 'sklearn.tree' has no attribute 'plot_tree'